@page "/Budgets"
@using System.Reflection;
@using avanphamaceuticalsmanagement.Client.Services.Interfaces;
@using avanphamaceuticalsmanagement.Shared.Models;

<MudCard Class="mb-3">
    <MudCardHeader>
        <MudText Align="Align.Left" Typo="Typo.h6"><b>Add Manage Budgets</b></MudText>
    </MudCardHeader>
    <MudCardContent>
        <div class="mb-6">
            <MudAlert Icon="fa-solid fa-exclamation" Severity="Severity.Info">Select Task below</MudAlert>
            <MudDivider />
            <MudSpacer />
        </div>

        <MudGrid Class="mb-3">
            <MudItem xs="12" md="6">
                <MudCard Elevation="2" Square="false" Class="mb-3">
                    <MudCardHeader>
                        <MudText Align="Align.Center" Typo="Typo.subtitle1"><b>Add New Budget</b></MudText>
                    </MudCardHeader>
                    <MudCardContent>
                        <MudButton ButtonType="ButtonType.Button" StartIcon="@Icons.Material.Filled.Add" FullWidth="true" Variant="Variant.Filled" Color="Color.Info" OnClick="GetAddBudgetForm">New Budget</MudButton>
                    </MudCardContent>
                </MudCard>
            </MudItem>
            <MudItem xs="12" md="6">
                <MudCard Elevation="2" Square="false" Class="mb-3">
                    <MudCardHeader>
                        <MudText Align="Align.Center" Typo="Typo.subtitle1"><b>Manage Existing Budget</b></MudText>
                    </MudCardHeader>
                    <MudCardContent>
                        <MudButton ButtonType="ButtonType.Button" StartIcon="@Icons.Material.Filled.ModeEdit" FullWidth="true" Variant="Variant.Filled" Color="Color.Info" OnClick="EditExistingBudget">Edit Current Budget</MudButton>
                    </MudCardContent>
                </MudCard>
            </MudItem>
        </MudGrid>
        @if (buttonClicked)
        {
            <div class="mb-5">
                <MudDivider />
            </div>
            <MudCard Class="mb-3">
                <MudCardHeader>
                    <MudAlert @ref="mudAlert"Icon="@Icons.Material.Filled.Info">@AlertText</MudAlert>
                </MudCardHeader>
                <MudCardContent>
                    @if (isAddBudget)
                    {
                        <MudPaper>
                            <MudGrid>
                                <MudItem xs="12">
                                    <MudText Typo="Typo.h6"><b>Fill in Required Information</b></MudText>
                                </MudItem>

                                <MudItem xs="12" md="6">
                                    <MudSelect T="BudgetTypeTable" @bind-Value="budgetType" Label="Select Budget Type" ToStringFunc="Budgetconverter" Variant="Variant.Outlined" AnchorOrigin="Origin.BottomCenter" Margin="Margin.Dense">
                                        @foreach (var item in _budgetTypes)
                                        {
                                            <MudSelectItem T="BudgetTypeTable" Value="item">@item.BudgetType</MudSelectItem>
                                        }
                                    </MudSelect>
                                </MudItem>
                                <MudItem xs="12" md="6">
                                    <MudDateRangePicker Label="Pick Bugdet Period" @bind-DateRange="_dateRange" AnchorOrigin="Origin.BottomCenter" Margin="Margin.Dense" Variant="Variant.Outlined" />
                                </MudItem>
                                <MudItem xs="12" md="6">
                                    <MudNumericField Variant="Variant.Outlined" Placeholder="Enter Amount" Label="Budget Amount" @bind-Value="Budget.Amount" Margin="Margin.Dense" T="double?"></MudNumericField>
                                </MudItem>
                                <MudItem xs="12" md="6">
                                    <MudTextField Lines="3" Variant="Variant.Outlined" Placeholder="Enter Comment" Label="Comment" Margin="Margin.Dense" @bind-Value="Budget.Comment" T="string"></MudTextField>
                                </MudItem>
                                <MudItem xs="12">
                                    <MudButton ButtonType="ButtonType.Button" FullWidth="true" Color="Color.Success" Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.SaveAlt" OnClick="SaveBudget">Save Budget</MudButton>
                                </MudItem>
                            </MudGrid>
                        </MudPaper>
                    }
                    else
                    {

                        <MudGrid Class="mb-3">
                            <MudItem xs="12">
                                <MudText Typo="Typo.h6"><b>Fill in Required Information</b></MudText>
                            </MudItem>
                            <MudItem xs="12">
                                @if (_budgets.Count == 0)
                                {
                                    <MudTable Items="@_budgets" Dense="true" Hover="true" ReadOnly="@false" CanCancelEdit="true" Filter="new Func<BudgetsTable,bool>(FilterFunc)" Loading="true" LoadingProgressColor="Color.Primary" />
                                }
                                else
                                {
                                    <MudTable Items="@_budgets" Dense="true" Hover="true" ReadOnly="@false" CanCancelEdit="true" Filter="new Func<BudgetsTable,bool>(FilterFunc)"
                                  @bind-SelectedItem="selectedItem" SortLabel="Sort By" CommitEditTooltip="Commit Edit"
                                  RowEditPreview="BackupItem" RowEditCancel="ResetItemToOriginalValues"
                                  RowEditCommit="ItemHasBeenCommitted" ApplyButtonPosition="@applyButtonPosition" EditButtonPosition="@editButtonPosition" EditTrigger="TableEditTrigger.EditButton">
                                        <ToolBarContent>
                                            <MudText Typo="Typo.h6">Periodic Elements</MudText>
                                            <MudSpacer />
                                            <MudTextField @bind-Value="searchString" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
                                        </ToolBarContent>
                                        @*  <ColGroup>
                            @if (applyButtonPosition.DisplayApplyButtonAtStart() || (editButtonPosition.DisplayEditButtonAtStart()))
                            {
                            <col style="width:30px;" />
                            }
                            <col style="width:30px;" />
                            <col style="width:30px;" />
                            <col style="width:80%;" />
                            <col />
                            <col />
                            @if (applyButtonPosition.DisplayApplyButtonAtEnd() || (editButtonPosition.DisplayEditButtonAtEnd()))
                            {
                            <col style="width:30px;" />
                            }
                            </ColGroup>*@
                                        <HeaderContent>
                                            <MudTh><MudTableSortLabel SortBy="new Func<BudgetsTable, object>(x=>x.id)">Id</MudTableSortLabel></MudTh>
                                            <MudTh><MudTableSortLabel SortBy="new Func<BudgetsTable, object>(x=>x.BudgetType.BudgetType)">BudgetType</MudTableSortLabel></MudTh>
                                            <MudTh><MudTableSortLabel InitialDirection="SortDirection.Ascending" SortBy="new Func<BudgetsTable, object>(x=>x.Amount)">Amount</MudTableSortLabel></MudTh>
                                            <MudTh><MudTableSortLabel SortBy="new Func<BudgetsTable, object>(x=>x.StartDate)">Start Date</MudTableSortLabel></MudTh>
                                            <MudTh><MudTableSortLabel SortBy="new Func<BudgetsTable, object>(x=>x.EndDate)">End Date</MudTableSortLabel></MudTh>
                                        </HeaderContent>
                                        <RowTemplate>
                                            <MudTd DataLabel="Id">@context.id</MudTd>
                                            <MudTd DataLabel="Budget Type">@context.BudgetType.BudgetType</MudTd>
                                            <MudTd DataLabel="Amount">@context.Amount</MudTd>
                                            <MudTd DataLabel="Start Date">@context.StartDate.Value.ToShortDateString()</MudTd>
                                            <MudTd DataLabel="End Date">@context.EndDate.Value.ToShortDateString()</MudTd>
                                        </RowTemplate>
                                        <RowEditingTemplate>
                                            <MudTd DataLabel="Id">@context.id</MudTd>
                                            <MudTd DataLabel="BudgetType">
                                                <MudSelect T="BudgetTypeTable" @bind-Value="@context.BudgetType" Label="Select Budget Type" ToStringFunc="Budgetconverter" Variant="Variant.Outlined" AnchorOrigin="Origin.BottomCenter" Margin="Margin.Dense">
                                                    @foreach (var item in _budgetTypes)
                                                    {
                                                        <MudSelectItem T="BudgetTypeTable" Value="item">@item.BudgetType</MudSelectItem>
                                                    }
                                                </MudSelect>
                                            </MudTd>
                                            <MudTd DataLabel="Amount">
                                                <MudNumericField @bind-Value="@context.Amount" Required Min="1" Variant="Variant.Outlined" Margin="Margin.Dense" />
                                                </MudTd>
                                                <MudTd DataLabel="Start Date">
                                                <MudDatePicker Label="Start Date" @bind-Date="@context.StartDate" Variant="Variant.Outlined" AnchorOrigin="Origin.BottomCenter" Margin="Margin.Dense" />

                                                </MudTd>
                                                <MudTd DataLabel="End Date">
                                                <MudDatePicker Label="End Date" @bind-Date="@context.EndDate" Variant="Variant.Outlined" AnchorOrigin="Origin.BottomCenter" Margin="Margin.Dense" />
                                                </MudTd>
                                            </RowEditingTemplate>
                                            <PagerContent>
                                                <MudTablePager />
                                            </PagerContent>
                                            <EditButtonContent Context="button">
                                                <MudIconButton Size="@Size.Small" Icon="@Icons.Material.Outlined.Edit" Class="pa-0" OnClick="@button.ButtonAction" Disabled="@button.ButtonDisabled" />
                                            </EditButtonContent>
                                            </MudTable>
                                }
                            </MudItem>
                        </MudGrid>

                    }
                </MudCardContent>
            </MudCard>
        }
    </MudCardContent>

</MudCard>

