@page "/"
@using Microsoft.AspNetCore.Authorization;
@using avanphamaceuticalsmanagement.Client.Services.Interfaces;
@using avanphamaceuticalsmanagement.Shared.Models;
@attribute [Authorize]
@inherits IndexBase
<MudCard Class="mb-3">
    <MudCardHeader>

        <CardHeaderContent>
            <div>
                <MudText Align="Align.Center" Typo="Typo.h5"><b>AVAN PHARMACEUTICALS</b></MudText>
            </div>
            <div>
                <MudAlert Icon="@Icons.Material.Filled.Info">
                    <MudText Align="Align.Left">Hello @name!, Welcome to Avan Pharmaceuticals Management Portal! Your Role is @RoleName </MudText>
                </MudAlert>
            </div>
            <MudDivider>
                <MudAlert></MudAlert>
            </MudDivider>
            <MudText Align="Align.Left" Typo="Typo.subtitle1"><b>Dashboard</b></MudText>
            <MudDivider />
            <MudGrid>
                <MudItem xs="12">
                    <MudCard>
                        <MudCardHeader>
                            <CardHeaderContent>
                                <MudText Typo="Typo.h6"><b>Sales Trajectory</b></MudText>
                                <MudList>
                                    <MudListItem @ref="@trajectoryItem" Text="@percentageChangeString"/>
                                </MudList>
                            </CardHeaderContent>
                        </MudCardHeader>
                    </MudCard>
                   <MudCardContent>

                   </MudCardContent>
                </MudItem>
                <MudItem xs="12" md="3">
                    <MudCard Elevation="2" Square="false" Class="mb-3">
                        <MudCardHeader>
                            <MudIcon Icon="@Icons.Material.Filled.People"></MudIcon>
                            <MudText Align="Align.Left" Typo="Typo.subtitle1"><b>Total Employees</b></MudText>
                        </MudCardHeader>
                        <MudDivider />
                        <MudCardContent>
                            @if (employees.Count == 0)
                            {
                                <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-7" Size="Size.Small" />
                            }
                            else
                            {
                                @if (employees.Count == 1)
                                {
                                    <MudText Align="Align.Left" Typo="Typo.subtitle2">@employees.Count Total Employee</MudText>
                                }
                                else
                                {
                                    <MudText Align="Align.Left" Typo="Typo.subtitle2">@employees.Count Total Employees</MudText>
                                }

                            }
                        </MudCardContent>
                    </MudCard>
                </MudItem>
                <MudItem xs="12" md="3">
                    <MudCard Elevation="2" Square="false" Class="mb-3">
                        <MudCardHeader>
                            <MudIcon Icon="@Icons.Material.Filled.Sick"></MudIcon>
                            <MudText Align="Align.Left" Typo="Typo.subtitle1"><b>Total Patients</b></MudText>
                        </MudCardHeader>
                        <MudDivider />
                        <MudCardContent>
                            @if (_patients.Count == 0)
                            {
                                <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-7" Size="Size.Small" />
                            }
                            else
                            {
                                @if (_patients.Count == 1)
                                {
                                    <MudText Align="Align.Left" Typo="Typo.subtitle2">@_patients.Count Current Patient</MudText>
                                }
                                else
                                {
                                    <MudText Align="Align.Left" Typo="Typo.subtitle2">@_patients.Count Current Patients</MudText>
                                }
                            }
                        </MudCardContent>
                    </MudCard>
                </MudItem>
                <MudItem xs="12" md="3">
                    <MudCard Elevation="2" Square="false" Class="mb-3">
                        <MudCardHeader>
                            <MudIcon Icon="@Icons.Material.Filled.Warehouse"></MudIcon>
                            <MudText Align="Align.Left" Typo="Typo.subtitle1"><b>Total Stock</b></MudText>
                        </MudCardHeader>
                        <MudDivider />
                        <MudCardContent>
                            @if (_drugs.Count == 0)
                            {
                                <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-7" Size="Size.Small" />
                            }
                            else
                            {
                                @if (@drugStock == 1)
                                {
                                    <MudText Align="Align.Left" Typo="Typo.subtitle2">@drugStock Drug Total</MudText>
                                }
                                else
                                {
                                    <MudText Align="Align.Left" Typo="Typo.subtitle2">@drugStock Drugs Total</MudText>
                                }

                            }
                        </MudCardContent>
                    </MudCard>
                </MudItem>
                <MudItem xs="12" md="3">
                    <MudCard Elevation="2" Square="false" Class="mb-3">
                        <MudCardHeader>
                            <MudIcon Icon="@Icons.Material.Filled.ShoppingCart"></MudIcon>
                            <MudText Align="Align.Left" Typo="Typo.subtitle1"><b>Total Sales</b></MudText>
                        </MudCardHeader>
                        <MudDivider />
                        <MudCardContent>
                            @if (_sales.Count == 0)
                            {
                                @if (SalesError != string.Empty)
                                {
                                    <MudText Align="Align.Center" Typo="Typo.subtitle1"><b>@SalesError</b></MudText>
                                }
                                else
                                {

                                    <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-7" Size="Size.Small" />
                                }
                            }
                            else
                            {
                                @if (_sales.Count == 1)
                                {
                                    <MudText Align="Align.Left" Typo="Typo.subtitle2">@_sales.Count Prescription sold</MudText>
                                }
                                else
                                {
                                    <MudText Align="Align.Left" Typo="Typo.subtitle2">@_sales.Count Prescriptions sold</MudText>
                                }
                            }

                        </MudCardContent>
                    </MudCard>
                </MudItem>
                <MudItem xs="12">
                    <MudCard Elevation="2" Square="false" Class="mb-3">
                        <MudCardHeader>
                            <MudIcon Icon="@Icons.Material.Filled.AreaChart"></MudIcon>
                            <MudText Align="Align.Left" Typo="Typo.subtitle1"><b>Monthly Sale Recap</b></MudText>
                        </MudCardHeader>
                        <MudDivider />
                        <MudCardContent>
                            <div>
                                <MudAlert Icon="@Icons.Material.Filled.MonetizationOn" Severity="Severity.Info">
                                    <MudText Align="Align.Left" Typo="Typo.body1"><b>ZMW @formattedRevenueValue Total Revenue</b></MudText>
                                </MudAlert>

                                <MudChart ChartType="ChartType.Line" ChartSeries="@MonthlySales" @bind-SelectedIndex="LineIndex" XAxisLabels="@XAxisLabels" Width="100%" Height="450px"></MudChart>

                            </div>
                            <MudDivider />
                            <MudText Typo="Typo.body1"><b>Sales in (ZMW)</b></MudText>
                        </MudCardContent>
                    </MudCard>
                </MudItem>
                <MudItem xs="12">
                    <MudCard Elevation="2" Square="false" Class="mb-3">
                        <MudCardHeader>
                            <MudIcon Icon="@Icons.Material.Filled.AddChart"></MudIcon>
                            <MudText Align="Align.Left" Typo="Typo.subtitle1"><b>Goal Status</b></MudText>
                        </MudCardHeader>
                        <MudDivider />
                        <MudCardContent>
                            <div>
                                <MudText Align="Align.Left" Typo="Typo.subtitle2">Sales:</MudText>
                                <MudProgressLinear Color="Color.Info" Size="Size.Large" Value="25" Class="my-7">
                                    <MudText Typo="Typo.subtitle1" Color="Color.Surface">
                                        <b>25%</b>
                                    </MudText>
                                </MudProgressLinear>
                            </div>
                            <div>
                                <MudText Align="Align.Left" Typo="Typo.subtitle2">Patients:</MudText>
                                <MudProgressLinear Color="Color.Secondary" Size="Size.Large" Value="75" Class="my-7">
                                    <MudText Typo="Typo.subtitle1" Color="Color.Surface">
                                        <b>75%</b>
                                    </MudText>
                                </MudProgressLinear>
                            </div>
                        </MudCardContent>
                    </MudCard>
                </MudItem>
                <MudItem xs="12">
                    <MudCard>
                        <MudCardHeader>
                            <MudIcon Icon="@Icons.Material.Filled.AutoGraph"></MudIcon>
                            <MudText Align="Align.Left" Typo="Typo.subtitle1">Highest Selling Products</MudText>
                        </MudCardHeader>
                        <MudDivider />
                        <MudCardContent>
                            @if (names.Count == 0)
                            {
                                <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-7" Size="Size.Small" />
                            }
                            else
                            {
                                <MudChart ChartType="ChartType.Donut" Width="300px" Height="300px" InputData="@donutdata" InputLabels="@labels">
                                    <CustomGraphics>
                                        <text class="donut-inner-text" x="47%" y="35%" dominant-baseline="middle" text-anchor="middle" fill="black" font-family="Helvetica" font-size="2">Total</text>
                                        <text class="donut-inner-text" x="47%" y="50%" dominant-baseline="middle" text-anchor="middle" fill="black" font-family="Helvetica" font-size="5">@donutdata.Sum().ToString()</text>
                                    </CustomGraphics>
                                </MudChart>
                            }

                        </MudCardContent>
                    </MudCard>
                </MudItem>
            </MudGrid>

        </CardHeaderContent>


    </MudCardHeader>
</MudCard>


